<?xml version="1.0" encoding="utf-8"?>
<configuration>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.6.2" />
    </startup>
  <runtime>
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <dependentAssembly>
        <assemblyIdentity name="Newtonsoft.Json" publicKeyToken="30ad4fe6b2a6aeed" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-12.0.0.0" newVersion="12.0.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="Microsoft.Xrm.Sdk" publicKeyToken="31bf3856ad364e35" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-9.0.0.0" newVersion="9.0.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="Microsoft.Xrm.Sdk.Deployment" publicKeyToken="31bf3856ad364e35" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-9.0.0.0" newVersion="9.0.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="Microsoft.Xrm.Tooling.Connector" publicKeyToken="31bf3856ad364e35" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-4.0.0.0" newVersion="4.0.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="Yagasoft.Libraries.Common" publicKeyToken="d99f90f6e31ed2df" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-7.1.1.1" newVersion="7.1.1.1" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.ValueTuple" publicKeyToken="cc7b13ffcd2ddd51" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-4.0.3.0" newVersion="4.0.3.0" />
      </dependentAssembly>
    </assemblyBinding>
  </runtime>
  <appSettings>
    <add key="ServiceId" value="MyService" /> <!-- Enter any string to represent this unique service instance -->
    <add key="Connection1" value="AuthType=AD; Url=x; Username=x; Password=x; Domain=x; SkipDiscovery=True" />
    <add key="Connection2" value="AuthType=AD; Url=x; Username=x; Password=x; Domain=x; SkipDiscovery=True" />
    <add key="Connections" value="Connection1,Connection2" /> <!-- add as many connections as you need, or simply use one connection -->
    <add key="MaxConnectionsPerNode" value="5" />
    <add key="JobsPercentage" value="50" /> <!-- this service's portion of the total number of pending jobs, between 1 and 100% -->
    <!-- logging option are in NLog.config file -->
  </appSettings>
</configuration>
