<?xml version="1.0" encoding="utf-8"?>
<configuration>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.6.2" />
    </startup>
  <runtime>
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <dependentAssembly>
        <assemblyIdentity name="Newtonsoft.Json" publicKeyToken="30ad4fe6b2a6aeed" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-12.0.0.0" newVersion="12.0.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="Microsoft.Xrm.Sdk" publicKeyToken="31bf3856ad364e35" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-9.0.0.0" newVersion="9.0.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="Microsoft.Xrm.Sdk.Deployment" publicKeyToken="31bf3856ad364e35" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-9.0.0.0" newVersion="9.0.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="Microsoft.Xrm.Tooling.Connector" publicKeyToken="31bf3856ad364e35" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-3.0.0.0" newVersion="3.0.0.0" />
      </dependentAssembly>
    </assemblyBinding>
  </runtime>
  <appSettings>
    <add key="Connection1" value="AuthType=AD; Url=x; Username=x; Password=x; Domain=x; SkipDiscovery=True" />
    <add key="Connection2" value="AuthType=AD; Url=x; Username=x; Password=x; Domain=x; SkipDiscovery=True" />
    <add key="Connections" value="Connection1,Connection2" />
    <!--<add key="Connection1" value="AuthType=AD; Url=http://crm8/CustomJobs; Domain=YAGASOFT; Username=administrator; Password=a; SkipDiscovery = True" />
    <add key="Connection2" value="AuthType=AD; Url=http://crm8/CustomJobs; Domain=YAGASOFT; Username=administrator; Password=a; SkipDiscovery = True" />
    <add key="Connections" value="Connection1,Connection2" />-->
    <add key="MaxConnectionsPerNode" value="3" />
    <add key="LogFolderPath" value="." /> <!-- '.' = service's installation folder -->
    <add key="LogLevel" value="30" /> <!-- None: 0, Error: 10, Warning: 20, Info: 30, Debug: 40 -->
    <add key="LogFileSplitMode" value="30" /> <!-- Size: 10, Date: 20, Both: 30 -->
    <add key="LogFileSplitFrequency" value="20" /> <!-- if split mode is 'Date' or 'Both', Hourly: 10, Daily: 20, Monthly: 30, Yearly: 40 -->
    <add key="LogFileGroupById" value="True" /> <!-- groups log files by their ID in separate folders -->
    <add key="LogFileDateFormat" value="yyyy-MM-dd_HH-mm-ss-fff" />
    <add key="LogFileMaxSizeKb" value="10240" /> <!-- '-1' or '0' = unlimited -->
  </appSettings>
</configuration>
