<?xml version="1.0" encoding="utf-8"?>

<nlog xmlns="http://www.nlog-project.org/schemas/NLog.xsd" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
      throwConfigExceptions="true">
  <variable name="maxLevel" value="Trace" />  <!-- Off,Error,Warn,Info,Trace -->
  <variable name="logLocation" value="C:\logs\Yagasoft.CustomJobs.Service" />
  <variable name="isLogAllOnError" value="true" />
  <targets async="true">
    <!-- archiveEvery: Minute,Hour,Day,Sunday,Monday,Tuesday,Wednesday,Thursday,Friday,Saturday,Month,Year,None; 'None' disables this feature -->
    <!-- archiveAboveSize: in bytes; above this size, it will be archived -->
    <target name="default" xsi:type="File"
            fileName="${var:logLocation}\${logger}\${date:format=yyyy-MM-dd}.csv"
            archiveFileName="${var:logLocation}\${logger}\archive\{#}.csv"
            archiveDateFormat="yyyy-MM-dd"
            archiveEvery="Day"
            maxArchiveDays ="0"
            archiveAboveSize="104857600"
            maxArchiveFiles="0"
            archiveOldFileOnStartup="false"
            archiveOldFileOnStartupAboveSize="0"
            archiveNumbering="DateAndSequence"
            enableArchiveFileCompression="true">
      <layout xsi:type="CsvLayout" delimiter="Comma">
        <column name="Date" layout="${date:format=yyyy-MM-dd HH\:mm\:ss.fff}" quoting="Nothing" />
        <column name="Logger" layout="${logger}" quoting="Nothing" />
        <column name="Level" layout="${level}" quoting="Nothing" />
        <column name="Thread ID" layout="${threadid}" quoting="Nothing" />
        <column name="Message" layout="${event-properties:msg}" quoting="All" />
        <column name="Index" layout="${event-properties:index}" quoting="Nothing" />
        <column name="Fn Started" layout="${event-properties:start:format=yyyy-MM-dd HH\:mm\:ss.fff}" quoting="Nothing" />
        <column name="Duration" layout="${event-properties:ms}" quoting="Nothing" />
        <column name="Info" layout="${event-properties:info}" quoting="All" />
        <column name="Trace" layout="${when:when='${var:maxLevel}'&lt;=LogLevel.Debug or '${level}'&gt;=LogLevel.Error or '${level}'&lt;=LogLevel.Debug:inner=${event-properties:trace}:else=}" quoting="All" />
        <column name="Ex Message" layout="${event-properties:exMsg}" quoting="All" />
        <column name="Ex Name" layout="${event-properties:exName}" quoting="Nothing" />
        <column name="Ex Source" layout="${event-properties:exSrc}" quoting="Nothing" />
        <column name="Ex Trace" layout="${event-properties:exTrace}" quoting="All" />
        <column name="Inner Ex Message" layout="${event-properties:exInMsg}" quoting="All" />
        <column name="Inner Ex Name" layout="${event-properties:exInName}" quoting="Nothing" />
        <column name="Inner Ex Source" layout="${event-properties:exInSrc}" quoting="Nothing" />
        <column name="Inner Ex Trace" layout="${event-properties:exInTrace}" quoting="All" />
        <column name="User" layout="${event-properties:usr}" quoting="Nothing" />
        <column name="Assembly" layout="${when:when='${var:maxLevel}'&lt;=LogLevel.Debug or '${level}'&gt;=LogLevel.Error or '${level}'&lt;=LogLevel.Debug:inner=${event-properties:asm}:else=}" quoting="All" />
        <column name="Class" layout="${when:when='${var:maxLevel}'&lt;=LogLevel.Debug or '${level}'&gt;=LogLevel.Error or '${level}'&lt;=LogLevel.Debug:inner=${event-properties:class}:else=}" quoting="Nothing" />
        <column name="Function" layout="${when:when='${var:maxLevel}'&lt;=LogLevel.Debug or '${level}'&gt;=LogLevel.Error or '${level}'&lt;=LogLevel.Debug:inner=${event-properties:fn}:else=}" quoting="Nothing" />
        <column name="Line" layout="${when:when='${var:maxLevel}'&lt;=LogLevel.Debug or '${level}'&gt;=LogLevel.Error or '${level}'&lt;=LogLevel.Debug:inner=${event-properties:line}:else=}" quoting="Nothing" />
        <column name="Regarding Type" layout="${when:when='${var:maxLevel}'&lt;=LogLevel.Debug or '${level}'&gt;=LogLevel.Error or '${level}'&lt;=LogLevel.Debug:inner=${event-properties:regType}:else=}" quoting="Nothing" />
        <column name="Regarding Id" layout="${when:when='${var:maxLevel}'&lt;=LogLevel.Debug or '${level}'&gt;=LogLevel.Error or '${level}'&lt;=LogLevel.Debug:inner=${event-properties:regId}:else=}" quoting="Nothing" />
        <column name="Regarding Name" layout="${when:when='${var:maxLevel}'&lt;=LogLevel.Debug or '${level}'&gt;=LogLevel.Error or '${level}'&lt;=LogLevel.Debug:inner=${event-properties:regName}:else=}" quoting="All" />
      </layout>
    </target>
    <target name="failures" xsi:type="File"
            fileName="${var:logLocation}\${logger}\${date:format=yyyy-MM-dd}.csv"
            archiveFileName="${var:logLocation}\${logger}\archive\{#}.csv"
            archiveDateFormat="yyyy-MM-dd_HH-mm-ss.fff"
            archiveNumbering="Date"
            archiveOldFileOnStartup="true"
            enableArchiveFileCompression="true">
      <layout xsi:type="CsvLayout" delimiter="Comma">
        <column name="Date" layout="${date:format=yyyy-MM-dd HH\:mm\:ss.fff}" quoting="Nothing" />
        <column name="Type" layout="${event-properties:type}" quoting="Nothing" />
        <column name="ID" layout="${event-properties:id}" quoting="Nothing" />
        <column name="Message" layout="${event-properties:message}" quoting="All" />
        <column name="Extra" layout="${event-properties:extra}" quoting="All" />
        <column name="Exception" layout="${event-properties:ex}" quoting="All" />
      </layout>
    </target>
    <target name="results" xsi:type="File"
            fileName="${var:logLocation}\${logger}\${date:format=yyyy-MM-dd}.csv"
            archiveFileName="${var:logLocation}\${logger}\archive\{#}.csv"
            archiveDateFormat="yyyy-MM-dd_HH-mm-ss.fff"
            archiveNumbering="Date"
            archiveOldFileOnStartup="true"
            enableArchiveFileCompression="true">
      <layout xsi:type="CsvLayout" delimiter="Comma">
        <column name="Nin" layout="${event-properties:nin}" />
        <column name="Hoh" layout="${event-properties:hoh}" />
        <column name="Gender" layout="${event-properties:gender}" />
        <column name="Age" layout="${event-properties:age}" />
        <column name="RequestId" layout="${event-properties:requestid}" />
        <column name="RequestType" layout="${event-properties:requesttype}" />
        <column name="CreatedOn" layout="${event-properties:createdon}" />
        <column name="Status" layout="${event-properties:status}" />
      </layout>
    </target>
    <target name="console" xsi:type="ColoredConsole"
            encoding="utf-8"
            layout="${date:format=yyyy-MM-dd HH\:mm\:ss.ff} | ${logger} | ${threadid:padding=2:padCharacter=0}: ${event-properties:msg}${when:when='${var:maxLevel}'&lt;=LogLevel.Debug or '${level}'&gt;=LogLevel.Error or '${level}'&lt;=LogLevel.Debug:inner=${event-properties:info}:else=}"
            header="${processname} - ${processinfo:property=StartTime} - ${currentdir}${newline}"
            footer="${newline}CPU: ${processinfo:property=TotalProcessorTime} - Mem: ${processinfo:property=PeakWorkingSet64:format=N1}">
      <highlight-word foregroundColor="Green" ignoreCase="true"
                      regex="\d{4}-\d{2}-\d{2} \d{2}:\d{2}:\d{2}\.\d{2}" compileRegex="true" />
      <highlight-word foregroundColor="DarkCyan" ignoreCase="true" regex=" \| .+? " compileRegex="true" />
      <highlight-word foregroundColor="DarkGray" ignoreCase="true" regex="\| \d+?\:" compileRegex="true" />
    </target>
  </targets>
  <rules>
    <logger name="*" writeTo="default">
      <filters defaultAction="Log">
        <when condition="'${logger}'=='failures' or '${logger}'=='results'" action="Ignore" />
      </filters>
    </logger>
    <logger name="failures" writeTo="failures" />
    <logger name="results" writeTo="results" />
    <logger name="*" writeTo="console">
      <filters defaultAction="Log">
        <when condition="'${logger}'=='failures' or '${logger}'=='results'" action="Ignore" />
      </filters>
    </logger>
  </rules>
</nlog>
