<?xml version="1.0" encoding="utf-8" ?>
<Mappings  xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"	xsi:noNamespaceSchemaLocation="http://exitoconsulting.ru/schema/CrmWebResourcesUpdater/MappingSchema.xsd">
    <!--
    EXAMPLES OF MAPPINGS:
    <Mapping localPath="scripts\contact.js" webResourceName="new_contact"/>
    <Mapping localPath="account.js" webResourceName="new_account"/>
    -->
    <Mapping localPath="Scripts\ys_CustomJob.js" webResourceName="ys_CustomJobJs"/>
    <Mapping localPath="Scripts\ys_CustomJobEngineRibbon.js" webResourceName="ys_CustomJobEngineRibbonJs"/>
    <Mapping localPath="Scripts\ys_CustomJobRibbon.js" webResourceName="ys_CustomJobRibbonJs"/>
</Mappings>